$themecolor: #923b2f;
$themecolorgradientbottom: #7b2e24;
$maingray: #303641;
$maingraygradientbottom: #1f2229;
$darkgray: #1d2026;
$darkgraygradientbottom: #12151a;

$transition: 0.3s;

@import "./icons/scss/fontawesome.scss";
@import "./icons/scss/solid.scss";

body {
  color: white;
  margin: 0;
  background-color: $maingray;
  background-image: linear-gradient(
    to bottom right,
    $maingray,
    $maingraygradientbottom
  );
  background-repeat: none;
  background-attachment: fixed;
  font-family: "Gill Sans MT";
  letter-spacing: 1px;
  button {
    font-family: inherit;
    cursor: pointer;
  }
  h1, h2, h3, h4 {
    font-weight: normal;
  }
}

#pfp {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.button {
  padding: 12px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $themecolor;
  background-image: linear-gradient($themecolor, $themecolorgradientbottom);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
  color: white;
  transition: $transition;
  letter-spacing: 1px;
  min-width: 100px;
  text-decoration: none;
  font-size: 90%;
  &.light {
    background: rgba(255, 255, 255, 0);
    outline: 2px solid $themecolor;
    outline-offset: -2px;
    color: $themecolor;
    box-sizing: border-box;
  }
  &:hover {
    background-color: white;
    background-image: none;
    color: $themecolor;
    outline-color: white;
  }
}

.selectbutton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $maingray;
  border: 2px solid $maingray;
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
  color: white;
  transition: $transition;
  letter-spacing: 1px;
  font-size: 100%;
  min-width: 100px;
  &:hover {
    border: 2px solid white;
  }
}

.line {
  border-bottom: 4px solid $darkgray;
  margin: 20px 0;
}

.wordinput {
  background-image: linear-gradient($darkgray, $darkgraygradientbottom);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
  padding: 6px 10px;
  border-radius: 5px;
  > span {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.input {
  background-color: $maingray;
  font-family: inherit;
  color: white;
  padding: 6px 10px;
  font-size: 110%;
  border-radius: 5px;
  border: 2px solid $maingray;
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
  outline: none;
  transition: $transition;
  &:focus {
    border: 2px solid $themecolor;
  }
  &#bio {
    resize: none;
    width: 90%;
    overflow: hidden;
  }
}

input[type="file"] {
  display: none;
}

.hovertext {
  color: white;
  text-decoration: none;
  transition: $transition;
  &:hover {
    color: $themecolor;
  }
}

#Nav {
  padding: 10px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkgray;
  background-image: linear-gradient($darkgray, $darkgraygradientbottom);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1; // needed for editprofile
  #left {
    display: flex;
    gap: 1em;
    align-items: center;
    #websitelogo {
      @media (max-width: 1000px) {
        display: none;
      }
      height: 2.3em;
    }
    #links {
      display: flex;
      gap: 0.5em;
      a {
        display: flex;
        color: inherit;
        font-size: 150%;
        transition: $transition;
        text-decoration: none;
        &:hover {
          color: $themecolor;
        }
      }
    }
    #searchbar {
      display: flex;
      align-items: center;
      gap: 0.4em;
      background-color: $maingray;
      padding: 0.4em 0.6em;
      border-radius: 5px;
      border: 2px solid $maingray;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
      transition: $transition;
      input {
        font-family: inherit;
        color: white;
        font-size: 110%;
        background: none;
        border: none;
        outline: none;
        width: 300px;
        opacity: 0.3;
        transition: $transition;
        &::placeholder {
          color: white;
        }
      }
      #icon {
        opacity: 0.3;
        transition: $transition;
      }
      &:focus-within {
        border: 2px solid $themecolor;
        opacity: 1;
        color: white;
        #icon, input {
          opacity: 1;
        }
      }   
    }
  }
  #right {
    display: flex;
    gap: 20px;
    align-items: center;
    #profile {
      display: flex;
      align-items: center;
      gap: 10px;
      #username {
        font-size: 110%;
        margin: 0;
      }
    }
    #notifications {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      margin-right: 4px;
      #count {
        background-color: $themecolor;
        background-image: linear-gradient($themecolor, $themecolorgradientbottom);
        border: 2px solid $darkgray;
        padding: 2px 6px;
        border-radius: 12px;
        text-align: center;
        position: absolute;
        left: 14px;
        bottom: -25%;
        transition: $transition;
        font-size: 90%;
      }
      #icon {
        font-size: 150%;
        transition: $transition;
      }
      &:hover, &.open {
        #icon {
          color: $themecolor;
        }
      }
      #window {
        position: absolute;
        top: 40px;
        right: 0;
        background-color: $maingray;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        padding: 10px;
        min-width: 250px;
        #title {
          border-bottom: 3px solid $darkgray;
          padding: 5px;
          text-transform: uppercase;
          font-size: 110%;
          margin-bottom: 10px;
          margin-top: 0;
        }
        #messages {
          max-height: 300px;
          overflow-y: auto;
          &::-webkit-scrollbar-track {
            background-color: $maingray;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $maingraygradientbottom;
          }
          #message {
            padding: 6px;
            margin: 0;
            margin-right: 10px;
            border-bottom: 2px solid $darkgray;
            transition: $transition;
            &:hover {
              color: $themecolor;
            }
          }
        }
      }
    }
  }
}

#footer {
  position: relative;
  background-image: linear-gradient($darkgray, $darkgraygradientbottom);
  padding: 20px;
  margin-top: 50px;
  width: calc(100% - 40px);
  text-align: center;
  color: gray;
}

#Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  #welcome {
    width: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: url("images/HomeBackground.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
    color: white;

    h1 {
      margin-bottom: 10px;
      font-size: 300%;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);
      border-radius: 12px;
      padding: 20px 10%;
    }
    .subtitle {
      font-size: 110%;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);
      border-radius: 12px;
      padding: 15px;
    }
  }

  #offering {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 60%;
    gap: 20px;
    justify-content: center;
    section {
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      padding: 40px;
      border-radius: 12px;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);
      #title {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 3px solid $themecolor;
        text-transform: uppercase;
        font-size: 120%;
        #icon {
          font-size: 150%;
        }
      }
    }
  }

  #links {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 60%;
    gap: 20px;
    justify-content: center;
    a {
      text-decoration: none;
    }
    a {
      color: white;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      padding: 40px;
      border-radius: 12px;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);
      #title {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 3px solid $themecolor;
        text-transform: uppercase;
        font-size: 120%;
        #icon {
          font-size: 150%;
        }
        p {
          transition: $transition;
        }
      }
      &:hover {
        #title > p {
          color: $themecolor;
        }
      }
    }
  }
}

#Profile {
  min-height: 100vh;
  #banner {
    padding: 60px 10%;
    display: flex;
    justify-content: space-between;
    #left {
      width: 80%;
      display: flex;
      align-items: flex-start;
      gap: 30px;
      #profilepic {
        border: 6px solid $themecolor;
        box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
        margin-top: 30px;
        @extend #pfp
      }
      #pfp-editor {
        display: flex;
        flex-direction: column;
        #editprofilepic {
          border: 6px solid $themecolor;
          box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
          border-radius: 50%;
          position: relative;
          margin-top: 30px;
          #pfp {
            cursor: pointer;
            transition: $transition;
            border: none;
          }
          label {
            #icon {
              cursor: pointer;
              filter: opacity(0.3);
              color: white;
              position: absolute;
              bottom: 80px;
              left: 80px;
              font-size: 250%;
              transition: $transition;
            }
          }
          &:hover {
            #pfp {
              filter: brightness(0.4);
            }
            #icon {
              filter: opacity(1);
            }
          }
        }
        #removepic {
          margin-top: 15px;
          max-width: 80%;
          align-self: center;
        }
      }
    }
    #data {
      min-width: 60%
    }
    #buttons {
      a > button {
        width: 100%;
      }
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      #or {
        margin: 0;
        text-align: center;
      }
    }
  }
  #social {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px;
    justify-content: center;
    > div {
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      padding: 40px;
      border-radius: 12px;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);
      #title {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 3px solid $themecolor;
        text-transform: uppercase;
        font-size: 120%;
        #icon {
          font-size: 150%;
        }
      }
    }
    #content {
      margin-top: 20px;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        &:before {
          content: "•";
          font-size: 120%;
          padding-right: 10px;
        }
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 110%;
          vertical-align: middle;
        }
      }
    }
  }
}

#NotFound,
#LoginRequired,
#AccessDenied {
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
}

#ProgressBar {
  padding: 10px;
  #container {
    padding: 4px;
    border-radius: 20px;
    background-color: $darkgray;
    background-image: linear-gradient($darkgray, $darkgraygradientbottom);
    #bar {
      width: 0;
      transition: $transition;
      border-radius: 20px;
      background-color: $themecolor;
      background-image: linear-gradient($themecolor, $themecolorgradientbottom);
      p {
        margin: 0;
        padding: 4px 10px;
        display: inline-block;
        white-space: nowrap;
      }
    }
  }
}

#Units,
#Topics,
#Admin,
#Repetitions,
#Friends,
#Groups,
#Ranking,
#Questions,
#Search,
#Group {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #header {
    padding: 5px 20px;
    border-bottom: 4px solid $darkgray;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    h1 {
      text-transform: uppercase;
      padding-right: 30px;
      border-right: 2px solid white;
    }
    p {
      font-size: 110%;
    }
  }
  #list {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    #button {
      a {
        text-decoration: none;
      }
      #title {
        margin-left: 15px;
        display: flex;
        gap: 12px;
        align-items: center;
        text-transform: uppercase;
        font-size: 110%;
        #icon {
          font-size: 140%;
        }
      }
    }
  }
}

#Admin {
  #managequestions,
  #create {
    margin: 0 20px;
    #manager,
    #creator {
      margin-top: 10px;
      form {
        display: flex;
        gap: 15px;
        flex-direction: column;
        #field {
          display: grid;
          gap: 10px;
          align-items: center;
          input {
            width: 500px;
          }
          label > a {
            color: white;
            text-decoration: none;
            transition: $transition;
            &:hover {
              color: $themecolor;
            }
          }
          #answers {
            gap: 10px;
            #iconbutton {
              padding: 6px;
              font-size: 160%;
              transition: $transition;
              cursor: pointer;
              margin: 0;
              &:hover {
                color: $themecolor;
              }
            }
            #inputs {
              display: flex;
              flex-direction: column;
              gap: 10px;
              #inputbox {
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
      #error {
        margin: 0;
      }
    }
    #buttons {
      padding: 10px 0;
      display: flex;
      gap: 10px;
    }
  }
  #subheader {
    display: flex;
    align-items: center;
    gap: 20px;
    h3 {
      text-transform: uppercase;
    }
  }

  #selectcreated > .selectbutton {
    text-transform: capitalize;
  }

  #select {
    margin-top: 5px;
    background-color: $darkgray;
    border-radius: 12px;
    padding: 10px;
    max-width: 250px;
    transition: $transition;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    #select-scroll {
      max-height: 300px;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        background-color: $darkgray;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $darkgraygradientbottom;
      }
      div {
        padding: 6px;
        margin-right: 10px;
        transition: $transition;
        &:not(.disabled) {
          cursor: pointer;
          &:hover {
            color: $themecolor;
          }
          &.chosen {
            color: $themecolor;
          }
        }
      }
      #unit {
        font-size: 110%;
        text-transform: uppercase;
      }
      #topic {
        border-bottom: 2px solid $maingray;
        border-top: 2px solid $maingray;
      }
      #question {
        padding-left: 20px;
      }
      #pick {
        text-transform: capitalize;
      }
    }
  }
}

#Questions {
  #questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    #question {
      #title {
        font-size: 120%;
        box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
        background-color: $darkgray;
        padding: 20px;
        border-radius: 12px;
        background-image: linear-gradient($darkgray, $darkgraygradientbottom);
        display: flex;
        justify-content: space-between;
        #right,
        #left {
          display: flex;
          align-items: center;
          #icon {
            font-size: 120%;
          }
        }
      }
      #correctanswers {
        padding-left: 3%;
        li {
          margin-left: 10px;
        }
        p {
          text-transform: uppercase;
        }
      }
      #answers {
        margin: 15px 20px;
        #pick {
          display: flex;
          gap: 20px;
        }
        input {
          width: 40%;
        }
        #answer {
          font-size: 110%;
          padding: 12px;
          border-radius: 5px;
          background-color: $themecolor;
          background-image: linear-gradient(
            $themecolor,
            $themecolorgradientbottom
          );
          box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
          color: white;
          transition: $transition;
          letter-spacing: 1px;
          min-width: 100px;
          text-align: center;

          &.selected {
            background-color: white;
            background-image: none;
            color: $themecolor;
          }

          &:not(.disabled):hover {
            background-color: white;
            background-image: none;
            color: $themecolor;
          }

          &:not(.disabled) {
            cursor: pointer;
          }
        }
      }
    }
  }
  #result {
    margin-bottom: 40px;
    text-align: center;
  }
  #submitbutton {
    margin-top: 80px;
    margin-left: 20px;
    width: 250px;
  }
}

#Search {
  #data {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px;
    justify-content: center;

    > div {
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      padding: 40px;
      border-radius: 12px;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);

      #title {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 3px solid $themecolor;
        text-transform: uppercase;
        font-size: 120%;

        #icon {
          font-size: 150%;
        }
      }
    }

    #content {
      margin-top: 20px;
      list-style: none;

      li {
        display: flex;
        align-items: center;

        &:before {
          content: "•";
          font-size: 120%;
          padding-right: 10px;
        }

        div {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 110%;
          vertical-align: middle;
        }
      }
    }
  }
}

#Repetitions {
  #unit {
    margin: 0 20px;
    #subheader {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 110%;
      p {
        text-transform: uppercase;
      }
      #icon {
        font-size: 140%;
      }
    }
    #topics {
      margin: 0;
      margin-bottom: 20px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 20px;
        &:before {
          content: "•";
          font-size: 120%;
        }
      }
    }
  }
  > h3 {
    margin-left: 20px;
  }
  button {
    margin: 20px;
    width: 250px;
  }
}

#Ranking {
  text-align: center;
  a {
    text-decoration: none;
    color: white;
    #username {
      transition: $transition;
    }
    &:hover {
      #username {
        color: $themecolor;
      }
    }
  }
  #user {
    display: flex;
    gap: 5px;
  }

  #columns {
    display: flex;
    justify-content: center;
    gap: 20px;
    #column {
      flex: 1;
      padding: 40px;
      max-width: 25%;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      border-radius: 12px;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);
      #row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 2px solid $themecolor;
        margin: 0 20px;
        p {
          margin: 0;
          padding: 5px;
          font-size: 110%;
        }
      }
      h2 {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 3px solid $themecolor;
      }
    }
  }
}

#Friends {
  h3 {
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: white;
    #username {
      transition: $transition;
    }
    &:hover {
      #username {
        color: $themecolor;
      }
    }
  }
  #content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;

    #friends {
      display: flex;
      flex-direction: column;
      #nofriends {
        margin-left: 20px;
      }
      #friendlist {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 20px;
        #friend {
          display: flex;
          align-items: center;
          gap: 50px;
          justify-content: space-between;
          box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
          border-radius: 12px;
          background-image: linear-gradient($darkgray, $darkgraygradientbottom);
          padding: 20px;
        }
      }
    }

    #friend-requests {
      #friend-requests-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        #request {        
          #user {
            display: flex;
            align-items: center;
            box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
            border-radius: 12px;
            background-image: linear-gradient($darkgray, $darkgraygradientbottom);
            padding: 10px 20px;
            justify-content: space-between;
            #buttons {
              display: flex;
              gap: 10px;
            }
          }
        }
      }
    }
    #friend-box {
      display: flex;
      align-items: center;
      gap: 10px;
      #username {
        font-size: 120%;
      }
    }
  }
}


#Groups {
  #content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        h3 {
          color: $themecolor;
        }
      }
    }
    #grouplist {
      margin: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      #group {
        display: flex;
        align-items: center;
        gap: 20px;
        box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
        background-color: $darkgray;
        border-radius: 12px;
        background-image: linear-gradient($darkgray, $darkgraygradientbottom);
        padding: 20px;
        #groupdata {
          h3 {
            transition: $transition;
          }
        }

      }
    }
    #groupcreator {
      h3 {
        text-transform: uppercase;
      }
      button {
        min-width: 50%;
      }
      

       #field  {
          display: grid;
          gap: 10px;
          align-items: center;
          input, textarea {
            width: 80%
          }
          margin-bottom: 20px;
          #pic {
            display: flex;
            align-items: center;
            gap: 30px;
            label {
              text-align: center;
              min-width: 50%;
              #inputbutton {
                margin: 0;
                font-size: 90%;
              }
              cursor: pointer;
            }
          }
        }
    }
  }
}

#Group {
  #content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    max-height: 1vh;

    #members {
      #title {
        text-transform: uppercase;
        font-size: 110%;
        margin: 0;
        margin-bottom: 10px;
        padding: 15px 0;
        text-align: center;
        border-bottom: 3px solid $themecolor;
      }
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      border-radius: 12px;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);
      padding: 10px 20px;
      #memberlist {
        max-height: 200px;
        overflow-y: auto;
        &::-webkit-scrollbar-track {
          background: none;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $maingray;
        }
      }
    }
    a {
      text-decoration: none;
      padding: 0;
    }
    #user {
      color: white;
      margin-left: 8px;
      display: flex;
      gap: 8px;
      align-items: center;
      transition: $transition;
      &:hover {
        color: $themecolor;
      }
    }

    #chat {
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      border-radius: 12px;
      background-image: linear-gradient($darkgray, $darkgraygradientbottom);
      padding: 10px 20px;
      #title {
        text-transform: uppercase;
        font-size: 110%;
        margin: 0;
        margin-bottom: 10px;
        padding: 15px 0;
        text-align: center;
        border-bottom: 3px solid $themecolor;
      }
      #window {
        padding: 10px;
        #message {
          &:not(:first-of-type) #messagedata {
            margin-top: 20px;
          }
          #messagedata {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;
            #user, p {
              margin: 0;
            }
            #time {
              opacity: 0.3;
              font-size: 70%;
            }
          }
          #messagecontent {
            margin: 4px 38px;
          }
        }
        // max-height: 200px;
        overflow-y: auto;
        &::-webkit-scrollbar-track {
          background: none;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $maingray;
        }
      }
    }
  }
}


// SCROLLBAR

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $darkgraygradientbottom;
}

::-webkit-scrollbar-thumb {
  background-color: $darkgray;
  border-radius: 5px;
}
