$themecolor: #923b2f;
$themecolorgradientbottom: #7b2e24;
$maingray: #303641;
$maingraygradientbottom: #1f2229;
$darkgray: #1d2026;
$darkgraygradientbottom: #12151a;

@import "./icons/scss/fontawesome.scss";
@import "./icons/scss/solid.scss";

body {
  color: white;
  margin: 0;
  background-color: $maingray;
  background-image: linear-gradient(to bottom right, $maingray, $maingraygradientbottom);
  background-repeat: none;
  background-attachment: fixed;
  font-family: 'Gill Sans MT';
  letter-spacing: 1px;
  button {
    font-family: inherit;
    font-size: 90%;
    cursor: pointer;
  }
  h1, h2, h3, h4 {
    font-weight: normal;
  }
}

#profilepic, #editprofilepic {
  border-radius: 50%;
  #pfp {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
}

.button {
  padding: 12px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $themecolor;
  background-image: linear-gradient( $themecolor, $themecolorgradientbottom);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
  color: white;
  transition: 0.4s;
  letter-spacing: 1px;
  min-width: 100px;
  &:hover {
    background-color: white;
    background-image: none;
    color: $themecolor;
  }
}

.selectbutton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $maingray;
  border: 2px solid $maingray;
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
  color: white;
  transition: 0.4s;
  letter-spacing: 1px;
  font-size: 100%;
  min-width: 100px;
  &:hover {
    border: 2px solid white;
  }
}

.line {
  border-bottom: 4px solid $darkgray;
  margin: 20px 0;
}

.wordinput {
  background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
  padding: 6px 10px;
  border-radius: 5px;
  >span {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .react-tagsinput-tag {
      display: flex;
      gap: 4px;
      ::before {
        content: "×";
      }
      .react-tagsinput-remove {
        cursor: pointer;
        font-weight: bold;
        transition: 0.4s;
        &:hover {
          color: $themecolor;
        }
      }
    }
    .react-tagsinput-input {
      background-color: $maingray;
      font-family: inherit;
      color: white;
      padding: 6px 10px;
      font-size: 110%;
      border-radius: 5px;
      border: 2px solid $maingray;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
      outline: none;
      transition: 0.3s;
      width: 100%;
      &:focus {
          border: 2px solid $themecolor;
      }
    }
  }
}

.input {
  background-color: $maingray;
  font-family: inherit;
  color: white;
  padding: 6px 10px;
  font-size: 110%;
  border-radius: 5px;
  border: 2px solid $maingray;
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
  outline: none;
  transition: 0.3s;
  &:focus {
      border: 2px solid $themecolor;
  }
  &#bio {
    resize: none;
    width: 90%;
    overflow:hidden;
  }
}

input[type="file"] {
  display: none;
}

.hovertext {
  color: white;
  text-decoration: none;
  transition: 0.4s;
  &:hover {
    color: $themecolor;
  }
}

#Nav {
  padding: 10px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkgray;
  background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
  #left {
    display: flex;
    gap: 20px;
    align-items: center;
    a {
      display: flex;
      #websitelogo {
        height: 36px;
      }
    }
    #links {
      display: flex;
      gap: 10px;
      a {
        color: inherit;
        font-size: 150%;
        transition: 0.4s;
        &:hover {
          color: $themecolor;
        }
      }
    }
  }
  #right {
    display: flex;
    gap: 20px;
    align-items: center;
    #profile {
      display: flex;
      gap: 10px;
      #username {
        font-size: 100%;
      }
    }
    #notifications {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      margin-right: 4px;
      #count {
        background-color: $themecolor;
        background-image: linear-gradient( $themecolor, $themecolorgradientbottom);
        border: 2px solid $darkgray;
        padding: 2px 6px;
        border-radius: 12px;
        text-align: center;
        position: absolute;
        left: 14px;
        top: -10px;
        transition: 0.4s;
        font-size: 90%;
      }
      #icon {
        font-size: 150%;
        transition: 0.4s;
      }
      &:hover {
      #icon {
          color: $themecolor;
        }
        #messages {
          background-color: white;
          color: $themecolor;
          background-image: none;
        }
      }
    }
  }
  p {
    margin: auto;
    text-transform: uppercase;
    font-size: 80%;
  }
  #messageWindow {
    position: absolute;
    top: 40px;
    right: 0;
    background-color:$maingray;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 10px;
    min-width: 200px;

    #title {
        border-bottom: 3px solid $darkgray;
        padding: 5px;
        text-transform: uppercase;
        font-size: 110%;
        margin-bottom: 10px;
    }
    #message-scroll{
      max-height: 300px;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        background-color: $maingray;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $maingraygradientbottom; 
      }
      
      #message {
        padding: 6px;
        margin-right: 10px;
        border-bottom: 2px solid $darkgray;
        transition: 0.4s;
        
        &:hover {
          color: $themecolor; 
        }
      }
    }
}

}
  #SearchBar {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: $maingray;
    padding: 6px 10px;
    border-radius: 5px;
    border: 2px solid $maingray;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
    transition: 0.4s;
    input {
      font-family: inherit;
      color: white;
      font-size: 110%;
      background: none;
      border: none;
      outline: none;
      width: 300px;
      opacity: 0.3;
      transition: 0.4s;
      &::placeholder {
        color: white;
      }
    }
    &:focus-within {
      border: 2px solid $themecolor;
      opacity: 1;
      color: white;
      #icon {
        opacity: 1;
      }
      input {
        opacity: 1;
      }
    }
    #icon {
      opacity: 0.3;
      transition: 0.4s;
    }
  }


#footer {
  position: relative;
  background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
  padding: 20px;
  margin-top: 50px;
  width: calc(100% - 40px);
  text-align: center;
  color: gray;
}

 
#Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  #welcome {
    width: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: url("components/Home/HomeBackground.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
    color: white;

    h1 {
      margin-bottom: 10px;
      font-size: 300%;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
      border-radius: 12px;
      padding: 20px 10%;
    }
    .subtitle {
      font-size: 110%;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
      border-radius: 12px;
      padding: 15px;
    }
  }

  #offering {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 60%;
    gap: 20px;
    justify-content: center;
    >div {
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      padding: 40px;
      border-radius: 12px;
      background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
      #title {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 3px solid $themecolor;
        text-transform: uppercase;
        font-size: 120%;
        #icon {
          font-size: 150%;
        }
      }
    }
  }

    #links {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 60% 60%;
      gap: 20px;
      justify-content: center;
      a {
        text-decoration: none;
      }
      >a>div {
        color: white;
        box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
        background-color: $darkgray;
        padding: 40px;
        border-radius: 12px;
        background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
        #title {
          display: flex;
          gap: 12px;
          align-items: center;
          border-bottom: 3px solid $themecolor;
          text-transform: uppercase;
          font-size: 120%;
          #icon {
            font-size: 150%;
          }
          p {
            transition: 0.4s;
          }
        }
        &:hover {
          #title>p {
            color: $themecolor;
          }
        }
      }
    
  }
}

#Profile, #EditProfile {
  min-height: 100vh;
  #banner {
    padding: 60px 10%;
    display: flex;
    justify-content: space-between;
    #left {
      width: 80%;
      display: flex;
      align-items: flex-start;
      gap: 30px;
      #profilepic {
        border: 6px solid $themecolor;
        box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
        margin-top: 30px;
      }
      #editprofilepic {
        border: 6px solid $themecolor;
        box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
        position: relative;
        margin-top: 30px;
        #pfp {
          cursor: pointer;
          border-radius: 50%;
          transition: 0.2s;
        }
        label {
          #icon {
            cursor: pointer;
            filter: opacity(0.1);
            color: white;
            position: absolute;
            bottom: 80px;
            left: 80px;
            font-size: 250%;
            transition: 0.2s;
          }
        }
        &:hover {
          #pfp {
            filter:brightness(0.3);
          }
          #icon {
            filter: opacity(1);
          }
        }
      }
      #username {
        text-transform: uppercase;
      }
    }
    #buttons {
      a>button {
        width: 100%;
      }
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  #data {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px;
    justify-content: center;
    >div {
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      padding: 40px;
      border-radius: 12px;
      background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
      #title {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 3px solid $themecolor;
        text-transform: uppercase;
        font-size: 120%;
        #icon {
          font-size: 150%;
        }
      }
    }
    #content {
      margin-top: 20px;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        &:before {
          content: "•";
          font-size: 120%;
          padding-right: 10px;
        }
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 110%;
          vertical-align: middle;
        }
      }
    }
  }
}

#NotFound, #LoginRequired, #AccessDenied {
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
}

#ProgressBar {
  padding: 10px;
  #container {
    padding: 4px;
    border-radius: 20px;
    background-color: $darkgray;
    background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
    #bar {
      width: 0;
      transition: 0.4s;
      border-radius: 20px;
      background-color: $themecolor;
      background-image: linear-gradient( $themecolor, $themecolorgradientbottom);
      p {
        margin: 0;
        padding: 4px 10px;
        display: inline-block;
        white-space: nowrap;
      }
    }
  }
}

#Units, #Topics, #Admin, #Revisions, #Friends, #Groups, #Ranking {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #header {
    padding: 5px 20px;
    border-bottom: 4px solid $darkgray;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    h1 {
      text-transform: uppercase;
      padding-right: 30px;
      border-right: 2px solid white;
    }
    p {
      font-size: 110%;
    }
  }
  #list {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    #button {
      a {
        text-decoration: none;
      }
      #title {
        margin-left: 15px;
        display: flex;
        gap: 12px;
        align-items: center;
        text-transform: uppercase;
        font-size: 110%;
        #icon {
          font-size: 140%;
        }
      }
    }
  }
}

#Admin {
  #managequestions, #create {
    margin: 0 20px;
    #manager, #creator {
      margin-top: 10px;
      form {
        display: flex;
        gap: 15px;
        flex-direction: column;
        #field  {
          display: grid;
          gap: 10px;
          align-items: center;
          input {
            width: 500px;
          }
        }
      }
    }
    #buttons {
      padding: 10px 0;
      display: flex;
      gap: 10px;
    }
  }
  #subheader {
    display: flex;
    align-items: center;
    gap: 20px;
    h3 {
      text-transform: uppercase;
    }
  }
  
  #selectcreated>.selectbutton {
    text-transform: capitalize
  }

  #select {
    margin-top: 5px;
    background-color: $darkgray;
    border-radius: 12px;
    padding: 10px;
    max-width: 250px;
    transition: 0.4s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    #select-scroll {
      max-height: 300px;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        background-color: $darkgray;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $darkgraygradientbottom; 
      }
      div {
        padding: 6px;
        margin-right: 10px;
        transition: 0.4s;
        &:not(.disabled) {
          cursor: pointer;
          &:hover {
            color: $themecolor; 
          }
          &.chosen {
            color: $themecolor;
          }
        }
      }
      #unit {
        font-size: 110%;
        text-transform: uppercase;
      }
      #topic {
        border-bottom: 2px solid $maingray;
        border-top: 2px solid $maingray;
      }
      #question {
        padding-left: 20px;
      }
      #pick {
        text-transform: capitalize;
      }
    }
   
    
  }
}

::-webkit-scrollbar {
  width:10px;
}
::-webkit-scrollbar-track {
  background-color: $darkgraygradientbottom;

}
::-webkit-scrollbar-thumb {
  background-color: $darkgray; 
  border-radius: 5px;
}
