$themecolor: #923b2f;
$themecolorgradientbottom: #7b2e24;
$maingray: #303641;
$maingraygradientbottom: #1f2229;
$darkgray: #1d2026;
$darkgraygradientbottom: #12151a;

body {
  color: white;
  margin: 0;
  background-color: $maingray;
  background-image: linear-gradient(to bottom right, $maingray, $maingraygradientbottom);
  font-family: 'Gill Sans MT';
  letter-spacing: 1px;
  button {
    font-family: inherit;
    font-size: 90%;
    cursor: pointer;
  }
}

#profilepic {
  border-radius: 50%;
}

.button {
  padding: 12px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $themecolor;
  background-image: linear-gradient( $themecolor, $themecolorgradientbottom);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
  color: white;
  transition: 0.4s;
  letter-spacing: 1px;
  &:hover {
    background-color: white;
    background-image: none;
    color: $themecolor;
  }
}

.hovertext {
  transition: 0.4s;
  &:hover {
    color: $themecolor;
  }
}

#Profile, #Home, #Group { // because navbar is fixed
  padding-top: 60px;
}

#Nav {
  padding: 10px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkgray;
  background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  #websitelogo {
    height: 36px;
  }
  #right {
    display: flex;
    gap: 20px;
    align-items: center;
    #profile {
      color: white;
      display: flex;
      gap: 10px;
      text-decoration: none;
      transition: 0.4s;
        &:hover {
          color: $themecolor;
        }
      #username {
        font-size: 100%;
      }
    }
  }
  p {
    margin: auto;
    text-transform: uppercase;
    font-size: 80%;
  }
}
 
#Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  #welcome {
    width: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: url("components/Home/HomeBackground.jpg");
    background-size:cover;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
    color: white;

    h1 {
      margin-bottom: 10px;
      font-size: 300%;
      font-weight: normal;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
      border-radius: 12px;
      padding: 20px 10%;
    }
    .subtitle {
      font-size: 110%;
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
      border-radius: 12px;
      padding: 15px;
    }
  }

  #offering {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    >div {
      box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3);
      background-color: $darkgray;
      padding: 40px;
      border-radius: 12px;
      background-image: linear-gradient( $darkgray, $darkgraygradientbottom);
      #title {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 3px solid $themecolor;
        text-transform: uppercase;
        font-size: 120%;
        #icon {
          font-size: 150%;
        }
      }
    }
  }
}

